extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About
        p Click on the 'Ping Pong' tab to play.  Move the slider up and down with your mouse in order win the game!  You will have 3 chances to win each game.
