extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Ping Pong App
        p Crucifix pabst ramps williamsburg cardigan tumblr gastropub. Biodiesel cred meh 90's meggings.

